# Environment
.env
.env.*
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# OS
.DS_Store

# Logs
*.log

# Database
*.sqlite3
*.sql
sql/

*.txt

token*.json
credentials*.json

client_secret.json
